@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

$wrap: 90%;
$XL : 1170px;
$break-small-phone: 320px;
$break-media-phone: 375px;
$break-large-phone: 480px;
$break-small-tablet: 600px;
$break-large-tablet: 768px;
$break-small-laptop: 860px;
$break-media-laptop: 1024px;
$break-large-laptop: 1440px;

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'DM Sans' ,sans-serif;
    // max-width: 1920px;
    width: 100%;
    
}
//buton get start now
.__btn-get-start-now{
    background-color:  #7567F8;
    width: 209px;
    height: 68px;
    text-align: center;
    // padding: 23px 39px;
    border: 1px solid #7567F8;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 160.2%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    cursor: pointer;
}
// enquire now
.__enquire-now{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 160.2%;
    letter-spacing: 0.19em;
    text-transform: uppercase;
    color: #7567F8;
    margin-left: 72px;

    &::after{
        content: "\f0da";
        font-family: FontAweSome;
        margin-left: 4px;
    }
}
//
header{
    position: fixed;
    z-index: 99;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 227px 1fr;
    border: 1px solid #eaeaea;
    background-color: white;

    .__join-us{
        display: flex;
        align-items: center;

            .__call{
                flex-basis: 45%;
                display: flex;
                align-items: center;

                    img{
                        margin: 0 8px 0 46px;
                        cursor: pointer;
                        @media screen and (max-width: $break-large-laptop){
                            margin: 0 5px 0 28px;
                        }
                    }
                    .__call-now{
                        p:first-child{
                            color: #7567F8;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 16px;
                            /* identical to box height */
                            letter-spacing: 0.125em;
                            text-transform: uppercase;
                        }
                        p:last-child{
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 26px;
                            /* identical to box height */
                            color: #222222;
                        }
                    }
                    span{
                        width: 1px ;
                        height: 98px;
                        margin-left: 64px ;
                        background-color: #eaeaea;
                        @media screen and (max-width: $break-large-laptop){
                            margin-left: 14px ;
                        }
                    }
            }
            .__join{
                flex-basis: 55%;
                display: flex;
                align-items: center;
                @media screen and (max-width: $break-large-laptop){
                    justify-content: center;
                }

                    a{
                        margin-left: 5px;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 17px;
                        color: #7567F8;
                        text-decoration: none;
                        @media screen and (max-width: $break-large-laptop){
                            font-size: 12px;
                        }
                    }
                    p{
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 17px;
                        color: #555555;
                        @media screen and (max-width: $break-large-laptop){
                            font-size: 12px;
                        }
                    }
            }
        }
        .__logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

                p:first-child{
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 47px;
                    position: relative;                 
                    
                    &::after{
                        position: absolute;
                        content: '';
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #7567F8;
                        bottom: 10px;
                        right:  -15px;
                    }
                    @media screen and (max-width: $break-large-laptop){
                        font-size: 32px;
                    }
                }
                p:last-child{
                    margin-left: 30px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 114.2%;
                    /* or 16px */
                    letter-spacing: 0.315em;
                    text-transform: uppercase;
                    color: #999999;

                    @media screen and (max-width: $break-large-laptop){
                        font-size: 12px;
                    }
                }
               
        }
        .__menu{
            display: flex;
            justify-content: flex-end;

                .__search-menu{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                        button{
                            width: 98px;
                            height: 100%;
                            background: #7567F8;
                            border: 1px solid #7567f8;
                            cursor: pointer;
                        }
                        p{
                            margin: 0 52px 0 48px;
                        }
                }
        }
    
}
//end header
.__section-heros{
    background-image: url("../images/section-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 98px;
    .__ss-hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:  
            "__thumbnail   __content-hero"
            "__mouse       __mouse";
       
        .__thumbnail{
            grid-area: __thumbnail;
            width: 100%;
            position: relative;
            z-index: 0;
            padding-right: 50px;

            img{               
                position: relative;
                top: -12%;
                width: 100%;
                object-fit: cover;
                border-bottom-right-radius: 80%;
              
            }
        }
        .__content-hero{
            grid-area: __content-hero;
                position: relative;
                top: 20%;

                .__img{
                    position: absolute;
                    top: -30%;
                    left: 42%;
                    transform: translate(-40%);
                    z-index: -1;
                    
                        img{
                            width: 100%;
                            object-fit: cover;
                            cursor: pointer;
                        }
                }
                .__content_title{
                    font-family: DM Sans;
                   
                        p{
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 142.2%;
                            color: #222222;
                            letter-spacing: 0.435em;
                            text-transform: uppercase;
                        }
                        h2{
                            font-size: 44px;
                            color: #222222;
                            line-height: 142.2%;

                                span{
                                    color: #7567F8;
                                }
                        }
                }
                .__content{
                    max-width: 450px;
                    margin: 14px 0 56px;
                }
                .__btn-get-start{
                    font-family: DM Sans;
                    display: flex;
                    align-items: center;
                      
                }

                .__social{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 34px;
                    top: -60px;

                        a{
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 15px;
                            text-decoration: none;
                            width: 46.74px;
                            height: 45.47px;
                            border-radius: 50%;

                                i{
                                    font-size: 17px;
                                }
                        }
                        a:nth-child(1){
                            background: #186CB0;
                        }
                        a:nth-child(2){
                            background: #E22E04;
                        }
                        a:nth-child(3){
                            background: #074682;
                        }
                        a:nth-child(4){
                            background: #00B3D3;
                        }
                }
        }
        .__mouse{
            grid-area: __mouse;
            text-align: center;

            img{
                cursor: pointer;
            }
        }
    }
}
.__services{
    padding-top: 70px;
    width: 100%;


    .__service{
        width: $wrap;
        max-width: $XL;
        margin: 0 auto;

            .__s-title{
                text-align: center;
                margin: 60px 0;

                    p{
                        color: #7567F8;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 114.5%;
                        letter-spacing: 0.225em;
                        text-transform: uppercase;
                    }
                    h2{
                        color: #222222;
                        font-weight: bold;
                        font-size: 44px;
                        line-height: 114.5%;
                    }
            }
            .__s-contents{
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                    .__s-img{
                        width: 72px;
                        height: 72px;          
                        background-image: url("../images/img_service/Ellipse.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        img{
                            position: relative;
                            top: -10px;
                            object-fit: cover;
                            cursor: pointer;
                        }
                    }
                    .__s-content{
                        flex: 1 1 calc(33% - 30px);
                        background: #F4F4F4;
                        padding: 60px 53px 54px 59px;
                        margin: 15px;

                        .__s-meta{
                            margin-top: 18px;
                            a{
                                text-decoration: none;
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 133.2%;
                                color: #222222;
                            }
                            p{
                                margin-top: 12px;
                                font-size: 16px;
                                line-height: 153.7%;
                                color: #555555;
                            }
                        }
                    }
            }
    }
}

//digital plan
.__digital-plans{
    background-image: url(../images/section-bg02.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -110px;
    padding-top: 260px ;
        .__digital-plan{
            padding: 0;
            background-color: rgba(0,0,0,0.1) ;

                .__digital-wrap{
                    width: $wrap;
                    max-width: $XL;
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 15px;
                    padding: 125px 15px;

                        .__digital-main{
                           font-family: 'DM Sans'; 

                            .__digital-title{

                                p{
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 142.2%;
                                    /* or 21px */
                                    letter-spacing: 0.435em;
                                    text-transform: uppercase;
                                    color: #7567F8;
                                }
                                h2{
                                    font-weight: bold;
                                    font-size: 44px;
                                    line-height: 47px;
                                    /* identical to box height */
                                    color: #222222;

                                }
                            }

                            .__digital-content{
                                margin: 18px 0 57px 0;

                                    p{
                                        font-size: 18px;
                                        line-height: 160.2%;
                                        /* or 29px */
                                        color: #555555;
                                    }
                                    p:first-child{
                                        margin-bottom: 20px;
                                    }
                            }

                            .__digital-get-now{
                                display: flex;
                                align-items: center;

                            }
                        }
                        .__digital-mask{

                            background-image: url(../images/img_digital/iStock-1201765831-1024x683-1.png);
                            background-repeat: no-repeat;
                            background-size: cover;

                            .__digital-video{
                                width: 100%;
                                display: flex;
                                align-items: flex-end;
                                height: 100%;

                                .__digital-start{
                                    display: flex;
                                    align-items: flex-start;
                                    flex-direction: column;
                                    padding: 63px 86px;
    
                                    button{
                                        background-color: transparent;
                                        border: none;
                                        outline: none;
                                        cursor: pointer;
                                    }
                                    p{
                                        font-weight: bold;
                                        font-size: 30px;
                                        line-height: 128.7%;
                                        /* or 39px */
                                        color: #FFFFFF;
                                    }
                                }
                            }
                            
                        }
                }
        }
}

//Funfacts
.__funfacts{
    display: flex;
    flex-wrap: wrap;

        .__funfacts-conversation{
            background: #6253EE;
           
        }
        .__funfacts-traffic{
            background: #7567F8;
        }
        .__funfacts-revenue{
            
            background: #6253EE;
        }
        .__funfact-item{
            flex: 1 33%;
            padding: 93px 0;
            text-align: center;

            p:nth-child(1){
                font-weight: bold;
                font-size: 80px;
                line-height: 89.5%;
                /* identical to box height, or 72px */
                color: #FFFFFF;
                margin-bottom: 19px;
            }
            p:nth-child(2){
                font-weight: bold;
                font-size: 24px;
                line-height: 129%;
                /* identical to box height, or 31px */
                color: #FFFFFF;
                margin-bottom: 3px;
            }
            p:nth-child(3){
                font-size: 16px;
                line-height: 129%;
                /* identical to box height, or 21px */
                color: #FFFFFF;

            }
        }

}
// our work
.__our-work{
    background-image: url(../images/section-bg02.png);
    background-repeat: no-repeat;
    background-size: contain;

        .__our-work-wrap{
            width: $wrap;
            max-width: $XL;
            margin: 0 auto;
            padding: 128px 0 120px;
            display: flex;
            flex-direction: column;
            align-items: center;

                .__our-work-title{
                    margin-bottom: 48px;
                    text-align: center;

                    p{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 142.2%;
                        /* or 21px */
                        letter-spacing: 0.435em;
                        text-transform: uppercase;
                        color: #7567F8;
                    }
                    h2{
                        font-weight: bold;
                        font-size: 44px;
                        line-height: 47px;
                        /* identical to box height */
                        color: #222222;

                    }
                }

                .__our-work-main{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    
                        .__our-work-content{
                            flex: 1 calc(33% - 30px);
                            margin: 15px;

                                .__our-work-img{
                                    width: 100%;

                                        img{
                                            width: 100%;
                                            object-fit: cover;
                                            cursor: pointer;
                                        }
                                }
                                .__our-work-meta{
                                    padding: 29px;

                                        a{
                                            margin-bottom: 3px;
                                            text-decoration: none;
                                            font-weight: bold;
                                            font-size: 22px;
                                            line-height: 133.2%;
                                            /* or 29px */
                                            color: #222222;

                                        }
                                        p{
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 153.7%;
                                            /* identical to box height, or 25px */
                                            color: #555555;
                                        }
                                }
                        }
                }
        }
}

//Reviews
.__reviews{
    background: #F4F4F4;

        .__review-wrap{
            width: $wrap;
            max-width: $XL;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 117px 0;

                .__review-title{
                    margin-bottom: 49px;
                    text-align: center;

                    p{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 142.2%;
                        /* or 21px */
                        letter-spacing: 0.435em;
                        text-transform: uppercase;
                        color: #7567F8;
                    }
                    h2{
                        font-weight: bold;
                        font-size: 44px;
                        line-height: 47px;
                        /* identical to box height */
                        color: #222222;

                    }
                }

                .__review-slider{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                        .__review-slide-item{
                            flex: 1 calc(50% - 30px);
                            margin: 15px;
                            background-color: white;

                            .__review-item{   
                                padding: 50px 60px 44px;                             
                                display: flex;
                                flex-direction: row;                             
                            

                                .__review-img{
                                  
                                   margin-right: 30px;

                                    img{
                                        cursor: pointer;
                                        border-radius: 50%;
                                        object-fit: cover;
                                    }
                                }

                                .__review-meta{
                                   display: flex;
                                   flex-direction: column;
                                        
                                    .__review-meta-info{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        align-items: center;
                                        margin-top: 24px;
                                            .__review-meta-info-name{

                                                a{
                                                    text-decoration: none;
                                                    color: #222222;
                                                    font-weight: bold;
                                                    font-size: 20px;
                                                    line-height: 133.2%;

                                                    span{
                                                        font-weight: 500;
                                                        font-size: 13px;
                                                        line-height: 153.7%;
                                                        /* identical to box height, or 20px */
                                                        text-transform: uppercase;
                                                        color: #7567F8;
                                                    }
                                                }
                                            }
                                            
                                            .__review-meta-info-star{
                                                display: flex;
                                                i{
                                                    font-weight: 900;
                                                    font-size: 13px;
                                                    line-height: 133.2%;
                                                    /* or 17px */
                                                    color: #D7DB17;
                                                }
                                            }
                                    }
                                }
                            }
                        }
                }
        }
}
// Meet team work

.__teams{
    background-image: url(../images/section-bg03.png);
    background-size: contain;
    background-repeat: no-repeat;

        .__team-wrap{
            width: $wrap;
            max-width: $XL;
            padding: 116px 0;
            margin: 0 auto;
            text-align: center;

                .__team-title{
                    margin-bottom: 60px;

                    p{
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 142.2%;
                        /* or 21px */
                        letter-spacing: 0.435em;
                        text-transform: uppercase;
                        color: #7567F8;
                    }
                    h2{
                        font-weight: bold;
                        font-size: 44px;
                        line-height: 47px;
                        /* identical to box height */
                        color: #222222;

                    }
                }

                .__team-work{
                    display: flex;
                    flex-direction: row wrap;

                        .__team-info{
                            flex: 1 calc(25% - 30px);
                            margin: 15px;

                                .__team-img{
                                    width: 100%;

                                    img{
                                        width: 100%;
                                        object-fit: cover;
                                        cursor: pointer;
                                    }
                                }

                                .__team-meta{
                                    margin-top: 28px;
                                    text-align: left;
                                    a{
                                        margin-bottom: 4px;
                                        text-decoration: none;
                                        font-weight: bold;
                                        font-size: 24px;
                                        line-height: 133.2%;
                                        /* or 29px */
                                        color: #222222;

                                    }
                                    p{
                                        font-weight: 500;
                                        font-size: 16px;
                                        line-height: 153.7%;
                                        /* identical to box height, or 25px */
                                        text-transform: uppercase;
                                        color: #7567F8;
                                    }
                                }
                        }
                }
        }
}

//Ready
.__readys{
    // background-image:  url(../images/img_ready/bg-ready.png);
    background-image: linear-gradient(#F4F4F4,#F4F4F4 ),url(../images/img_ready/bg-ready.png);
    background-repeat: no-repeat;
    background-blend-mode: hard-light;

    .__ready-wrap{       
        width: $wrap;
        max-width: $XL;
        margin: 0 auto;

        .__ready-main{         
            display: flex;
            flex-direction: row;          
            padding: 63px 0 52px;
            justify-content: space-between;
            align-items: center;

                .__ready-team{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    

                    .__ready-img{
                        width: 112px;
                        height: 112px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        border-radius: 50%;
                        margin-right: 35px;
                        img{                     
                            object-fit: cover;
                        }
                    }
    
                    .__ready-title{
    
                        h2{
                            font-weight: bold;
                            font-size: 44px;
                            line-height: 128.7%;
                            /* or 51px */
                            color: #222222;
                        }
                        p{
                            font-size: 18px;
                            line-height: 160.2%;
                            /* identical to box height, or 29px */
                            color: #555555;
    
                        }
                    }
                }
                
                
                .__ready-now{

                    a{
                        padding: 23px 48px;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 160.2%;
                        /* or 22px */
                        text-transform: uppercase;
                        color: #7567F8;
                        border: 5px solid #7567F8;
                        margin-right: 17px;
                    }
                }
        }
    }
}

//Pricing
.__pricing-plans{
    background-image: url(../images/section-bg03.png);
    background-repeat: no-repeat;

        .__pricing-wrap{
            width: $wrap;
            max-width: $XL;
            margin: 0 auto;
            text-align: center;
            padding: 116px 0 121px;

                .__pricing-titile{
                    margin-bottom: 59px;

                    p{
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 114.5%;
                        /* or 21px */
                        letter-spacing: 0.225em;
                        text-transform: uppercase;
                        color: #7567F8;
                    }
                    h2{
                        font-weight: bold;
                        font-size: 44px;
                        line-height: 47px;
                        /* identical to box height */
                        color: #222222;

                    }
                }

                .__pricing-main{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    
                        ._pricing-content{
                            display: grid;
                            grid-template-columns: 1fr;
                            text-align: left;
                            flex: 1 calc(33% - 30px);
                            margin: 15px;
                            padding: 43px 70px 59px;
                            border: 5px solid #7567F8;

                            @media screen and (max-width: $break-large-laptop){
                                padding: 40px 50px;
                            }
                           
                                .__pricing-money{
                                    // margin-bottom: 35px;

                                    p:nth-child(1){
                                        font-size: 24px;
                                        
                                        span{
                                            font-weight: bold;
                                            font-size: 36px;
                                            line-height: 133.2%;   
                                                                           
                                        }
                                    }
                                    p:nth-child(2){
                                        font-weight: bold;
                                        font-size: 14px;
                                        line-height: 160.2%;
                                        /* or 22px */
                                        letter-spacing: 0.585em;
                                        text-transform: uppercase;
                                        color: #7567F8;
                                    }
                                    p:nth-child(3){
                                        font-size: 24px;                                     
                                        font-weight: bold;
                                        line-height: 133.2%;   
                                        color: #222222;
                                    }
                                }
                                .__pricing-service{
                                    margin: 35px 0 80px;

                                        p{
                                            font-size: 16px;
                                            line-height: 216.7%;

                                            &::before{
                                                content: '\f152 ';
                                                position: relative;
                                                font-family: FontAweSome;
                                                color: #7567F8;
                                                margin-right: 10px;
                                                font-size: 18px;
                                            }
                                        }
                                }
                                .__pricing-now{
                                    display: flex;
                                    align-items: flex-end;
                                    
                                }
                        }
                        .__pricing-middle{
                            background-color: #7567F8;
                            color: white;

                                .__pricing-money{

                                    p:nth-child(2){
                                        color: white;
                                    }
                                    p:nth-child(3){
                                        color: white;
                                    }
                                }
                                .__pricing-service{
                                        p{
                                            font-size: 16px;
                                            line-height: 216.7%;

                                            &::before{
                                                content: '\f152 ';
                                                position: relative;
                                                font-family: FontAweSome;
                                                color: white;
                                                margin-right: 10px;
                                                
                                            }
                                        }
                                }
                                .__pricing-now{

                                    button{
                                        border: 3px solid #FFFFFF;
                                    }
                                }
                        }
                }
        }
}
// Recent blog posts
.__recent-posts{
    background: #F4F4F4;

    .__recent-wrap{
        width: $wrap;
        max-width: $XL;
        margin: 0 auto;
        text-align: center;
        padding: 120px 0;

            .__recent-title{
                margin-bottom: 51px;

                p{
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 114.5%;
                    /* or 21px */
                    letter-spacing: 0.225em;
                    text-transform: uppercase;
                    color: #7567F8;
                }
                h2{
                    font-weight: bold;
                    font-size: 44px;
                    line-height: 47px;
                    /* identical to box height */
                    color: #222222;

                }
            }

            .__recent-post{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                    .__recent-post-main{
                        flex: 1 calc(50% - 30px);
                        margin: 15px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                            .__recent-img{
                                width: 100%;
                                position: relative;

                                img{
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }

                            .__recent-post-content{
                                background-color: rgba(0,0,0,0.5);
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                padding: 46px 48px 66px 75px;

                                    .__recent-marketing{                                      
                                        align-self: flex-end;

                                        .__btn-recent-marketing{
                                            width: 121px;
                                            height: 36px;
                                            font-weight: bold;
                                            font-size: 13px;
                                            line-height: 132.7%;
                                            /* or 17px */
                                            text-transform: uppercase;
                                            color: #FFFFFF;
                                            background: #7567F8;
                                            outline: none;
                                            border: 1px solid #7567F8;
                                            cursor: pointer;
                                        }
                                    }
                                    .__recent-meta{
                                        text-align: left;

                                        .__recent-post-date{
                                            align-self: flex-start;
                                            
                                                p{
                                                    color: #FFFFFF;
                                                    font-size: 16px;
                                                    line-height: 132.7%;

                                                    &::before{
                                                        content: '\f073';
                                                        font-family: FontAweSome;
                                                        color: #7567F8;
                                                        font-size: 16;
                                                        margin-right: 5px;
                                                    }
                                                }
                                        }

                                        h2{
                                            font-weight: bold;
                                            font-size: 30px;
                                            line-height: 132.7%;
                                            /* or 40px */
                                            color: #FFFFFF; 
                                            margin-bottom: 17px;                                         
                                        }
                                        .__recent-author{
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;

                                                img{
                                                    border-radius: 50%;
                                                    object-fit: cover;
                                                    margin-right: 11px;
                                                }
                                                p{
                                                    font-weight: bold;
                                                    font-size: 16px;
                                                    line-height: 132.7%;
                                                    color: #FFFFFF; 
                                                }
                                        }
                                    }
                            }
                    }
            }

            .__recent-now{
                margin-top: 70px;
            }
    }
}
// Digital marketing
.__digital-marketing{
    background: #7567F8;

        .__digital-marketing-wrap{
            width: 80%;
            max-width: $XL;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 120px 0;

                .__digital-marketing-advanted{
                    flex: 1 calc(50% - 30px);
                    display: flex;
                    flex-direction: column;

                        .__digital-marketing-title{
                            margin: 20px 0;

                                p{
                                    font-weight: 500;
                                    font-size: 15px;
                                    line-height: 142.2%;
                                    /* or 21px */
                                    letter-spacing: 0.435em;
                                    text-transform: uppercase;
                                    color: #FFFFFF;
                                    margin-bottom: 8px;
                                }
                                h2{
                                    font-weight: bold;
                                    font-size: 44px;
                                    line-height: 50px;
                                    /* identical to box height */
                                    color: #FFFFFF;
                                }
                        }

                        .__digital-marketing-content{
                            margin-bottom: 30px;
                                p{
                                    font-size: 18px;
                                    line-height: 160.2%;
                                    /* or 29px */
                                    color: #FFFFFF;
                                }
                        }

                        .__digital-marketing-agv{
                            margin-bottom: 60px;

                            p{
                                font-size: 18px;
                                line-height: 160.2%;
                                /* or 29px */
                                color: #FFFFFF;

                                &::before{
                                    content: '\f00c ';
                                    font-family: FontAweSome;
                                    margin-right: 10px;
                                }
                            }
                        }

                        .__digital-marketing-now{
                            
                            button{
                                border: 4px solid #FFFFFF;
                                cursor: pointer;
                            }
                        }
                }
                .__digital-marketing-join{
                    flex: 1 calc(50% - 30px);
                    display: flex;
                    flex-direction: column;
                  
                        form{
                            background-color: white;
                            max-width:  470px;
                            margin: 0 auto;
                            padding: 43px 45px 46px;
                            border-radius: 5px;

                                .__form-marketing-title{
                                    text-align: center;
                                    margin-bottom: 23px;

                                        h2{
                                            font-weight: bold;
                                            font-size: 34px;
                                            line-height: 128.7%;
                                            /* identical to box height, or 44px */
                                            color: #222222;
                                            margin-bottom: 6px;
                                        }
                                        p{
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 128.7%;
                                            /* identical to box height, or 18px */
                                            letter-spacing: 0.175em;
                                            text-transform: uppercase;
                                            color: #7567F8;

                                        }
                                }
                                .__form-marketing{
                                    width: 100%;
                                    margin: 10px 0;
                                        
                                        .__input-control{
                                            width: 100%;
                                            padding: 20px 30px;
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 128.7%;
                                            /* identical to box height, or 18px */
                                            color: #999999;
                                            background: #F7F5F5;
                                            border: 1px solid #F7F5F5 ;
                                            outline: none;
                                        }
                                        .submit{
                                            font-weight: bold;
                                            font-size: 15px;
                                            line-height: 160.2%;
                                            /* identical to box height, or 24px */
                                            text-transform: uppercase;
                                            color: #FFFFFF;
                                            background: #7567F8;
                                            border: 1px solid #7567F8 ;
                                            cursor: pointer;
                                        }
                                }
                                .__form-marketing-name{
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    grid-gap: 10px;

                                        input{
                                            width: 100%;
                                            padding: 20px 30px;
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 128.7%;
                                            /* identical to box height, or 18px */
                                            color: #999999;
                                            background: #F7F5F5;
                                            outline: none;
                                            border: 1px solid #F7F5F5 ;
                                        }
                                }
                        }
                }
        }
}

//footer
footer{  
    font-family: 'DM Sans';
    display: flex;
    flex-direction: column;
    text-align: center;

        .__bg-infomation-us{
            width: 100%;
            background-image: linear-gradient(#F4F4F4,rgba(255,255,255,0.7) ),url(../images/cambioGenerazionale-bg-footer.png);
            background-repeat: no-repeat,no-repeat;
            background-size: cover;
            background-blend-mode: hard-light;
            padding: 82px 0 90px;
            
            
            .__infomation-us{
                max-width: $XL;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
            
                .__logo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p{
                        margin: 0;
                    }
                    p:first-child{
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 47px;
                        position: relative;

                        &::after{
                            position: absolute;
                            content: '';
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: #7567F8;
                            bottom: 10px;
                            right:  -15px;
                        }
                        @media screen and (max-width: $break-large-laptop){
                            font-size: 32px;
                        }
                    }
                    p:last-child{
                        margin-left: 30px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 114.2%;
                        /* or 16px */
                        letter-spacing: 0.315em;
                        text-transform: uppercase;
                        color: #999999;
                        @media screen and (max-width: $break-large-laptop){
                            font-size: 12px;
                        }
                    }
                }
                p{
                    max-width: 540px;
                    margin: 21px 0 35px;
                    font-family: DM Sans;
                    font-size: 18px;
                    line-height: 160.2%;
                    /* or 29px */
                    text-align: center;
                    color: #555555;
                }
                .__links{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1.5fr;
                    grid-gap: 30px;
                        .__link{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                                a{
                                    text-decoration: none;
                                    font-size: 16px;
                                    line-height: 239.23%;
                                    /* or 38px */
                                    color: #222222;
                                    &::before{
                                        content: '\f054 ';
                                        font-family: FontAweSome;
                                        margin-right: 8px;
                                        color: #222222;
                                    }
                                    &:hover{
                                        color: #7567F8;
                                        &::before{
                                            color: #7567F8;
                                        }
                                    }
                                }
                        }
                        .__newsletter{
                            text-align: left;

                            h4{
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 31px;
                                color: #7567F8;
                                margin-bottom: 17px;
                            }
                            div{
                                position: relative;
                                input{
                                    width: 100%;
                                    padding: 19px 30px;
                                    background: #FFFFFF;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 128.7%;
                                    color: #999999;
                                    outline: none;
                                    border: 1px solid #999999;
                                    position: relative;
                                }
                                span{
                                    position: absolute;
                                    height: 100%;
                                    top: 80%;
                                    right: 10%;
                                    transform: translate(0,-46%);
                                }
                                
                                .btn-newsletter{
                                    margin-top: 18px;
                                    background: #7567F8;
                                    font-weight: bold;
                                    font-size: 15px;
                                    line-height: 160.2%;
                                    /* identical to box height, or 24px */
                                    text-transform: uppercase;
                                    color: #FFFFFF;
                                    border: 1px solid #7567F8;
                                    cursor: pointer;
                                }
                            }
                        }
                }
            }
        }
        .__copyright{
            text-align: center;
            padding: 45px 0;

                span{
                     color:  #7567F8;
                }
        }
}